<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.png" style="width:65%; margin:0 auto;display: block;"/>

            <h2 style="color:#cc0000">AON</h2>
            <h3 style="color:#cc0000">Car</h3>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#73404C;padding-left:28px;padding-right:28px;">
                    Sign Up to AON
                </a>
                <a class="button button-block button-clear" ui-sref="app.login" style="color:#cc0000">
                    Already an AON user?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>
        </div> 

    </ion-content>

</ion-view>
